body {
  background-color: #FFE8BF;
}

#boutonCarte {
    background-color: #8D5838; //47B19B
    border: none;
    color: white;
    width : 250px;
    height : 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  border-radius : 5%;
}

#jeNeSaisPas {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: grey;
    width : 50px;
    height : 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  border-radius : 5%;
}

#boutonQuestionSuivante{
	width:60px;
	height:60px;
	background:#FFF7E6;
	font: 12px Arial;
	border-radius:50%;
	border:none;
	color:#000;
}

#boutonEtape2, #boutonEtape3{
	width:90px;
	height:60px;
	background:#FFF7E6;
	font: 18px Arial;
	border-radius:50%;
	border:none;
	color:#000;
}

#tableau {
  height:450px;
  width:800px;
  text-align:center;
  border:none;
  background-color:#FFE8BF;
  border-spacing: 10px;
}

td{
  border: 1px solid grey;
  border-radius: 8%;
  background-color: #E89259;
}

#nomEtape
{
  color: #444444;
  font: 18px Arial;
}
#numQuestion
{
  color: #444444;
  font: 18px Times;
}

#boutonValider {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: grey;
    width : 55px;
    height : 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  border-radius : 13%;
}

%E89259 orange
%FFE8BF beige
%314A5E canard (foncé)
%2A8399 canard
%47B19B
