/* stylePartie2.css */

body 
{
    color:black;
    background-color:darkblue;
    background-image:url(./cosmos.jpg);
}

#boutonCommencer
{
    background-color: white;
    border: none;
    color: black;
    width : 200px;
    height : 100px;
    text-align: center;
    font-size: 16px;
    border-radius : 5%;
    position:relative;
    top:50%;
    left:50%;
}

#boutonRejouer
{
    background-color: white;
    border: none;
    color: black;
    width : 100px;
    height : 50px;
    text-align: center;
    font-size: 16px;
    border-radius : 5%;
    position:relative;
    top:30%;
    left:45%;
}

/* Gestion des canvas superposés */
#canvases 
{ 
    position:relative; 
    width:1260px; 
    height:800px 
}

.canvases2 
{
    position:absolute;
    top:0; left:0;  
    width: 1260px;
    height: 800px;
}

#canvas
{
    position:absolute;
    top:0; left:0;  
    width: 1260px;
    height: 800px;
}
