body {
color:black;
background-color:darkblue;
background-image:url(./cosmos.jpg);
}

#tableau {
border:none;
text-align:center;
border-spacing:8px;
}

td{
   border:none;
   border-radius:8%;
   /*background-image:url(./vaisseauAlien.png);*/
   background-repeat:no-repeat;
   background-position-x: center;
   vertical-align: bottom;
}

#boutonCommencer{
    background-color: white;
    border: none;
    color: black;
    width : 200px;
    height : 100px;
    text-align: center;
   font-size: 16px;
    border-radius : 5%;
   position:relative;
   top:300px;
   left:40%;
}

#test,#test2{
   color:white;
}
